@model OrganizationWebsite.ViewModels.LoginVm

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>
        @{
            ViewData["Title"] = "Login";
        }
    </title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 130vh;
        }

        .validation-summary-errors ul {
            list-style-type: none;
        }
    </style>
</head>
<body>

    @if (TempData["Msg"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show mt-4" role="alert">
            @TempData["Msg"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <div class="col-md-5  container align-items-center mt-5" style="border-radius:40px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="text-dark">
            <h1 class="text-center">LogIn</h1>
        </div>
        <div class="card-body">
            <form asp-action="Login" method="post" asp-controller="Account">
                <div asp-validation-summary="ModelOnly" class="text-danger fw-light text-center"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Email" class="label-control">Email</label>
                            <i class="fas fa-envelope icon"></i>
                            <input type="email" asp-for="Email" class="form-control" autocomplete="off"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Password" class="label-control">Password</label>
                            <i class="fas fa-lock icon"></i>
                            <input type="password" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="form-check">
                        <label style="cursor:pointer" asp-for="RememberMe" class="label-control">Remember Me :</label>&nbsp;
                        <input type="checkbox" asp-for="RememberMe" />
                    </div>
                </div>

                <br />

                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-outline-success">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </button>
                </div>

                <br />

                <div class="row col-md-6">
                    <div class="form-group">
                        <a class="nav-link text-black" asp-action="Register">Don't have an account?</a>
                    </div>
                    <div class="form-group">
                        <a class="nav-link text-black" asp-action="ForgotPassword">Forgot password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</body>
</html>
