* {
    margin: 0;
    padding: 0;
    font-family:Arial,sans-serif;
    box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #A0AECD;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#logo{
    max-width:45px;
}
.nav-item-spacing {
    margin-right: 15px;
}

.item-spacing {
    margin-right: 200px;
}

#scope {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
}

.nav-link, .navbar-brand {
    transition: color 0.10s ease, filter 0.3s ease;
}

    .nav-link:hover {
        filter: brightness(1.5);
        text-decoration: underline;
        padding-top:10px;
    }

.navbar-brand:hover {
    filter: brightness(1.5);
    text-decoration: none;
}

.content {
    flex: 1;
}

.footer {
    padding: 10px 0;
    background-color: #A0AECD;
    text-align: center;
}

    .footer .socialIcons a {
        padding: 0 10px; 
        color: black; 
    }

    .footer .footerNav ul {
        padding: 0;
        margin: 0; 
    }

        .footer .footerNav ul li {
            margin: 0 10px; 
        }

.footerBottom {
    padding: 5px 0; 
}

.footer p, .footer a {
    margin: 0;
}

