<!DOCTYPE html>
    <html>
    <head>
        <title>
        @{
            ViewData["Title"] = "About us";
        }
    </title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 150vh;
        }


    </style>
    </head>
    <body>
    <div class="container text-center card-body mt-5">
        <h1>SCOPE INDIA, your career partner!</h1><br />
        <h3>One of the best Training Destination for Software, Networking and Cloud Computing courses in India with 17 years of Industrial experience.</h3><br />
        <div id="5star" class="container-fluid">
            <img style="max-width:300px" class="img-fluid" src="~/Images/5star.png" /><br>
            <h5>Google 4.9 * Rated Institute</h5>
        </div><br />
        <p>Software, Networking, and Cloud Professional Education Centre in Kerala from Suffix E Solutions with WORKING PROFESSIONALS oriented on-the-job TRAINING model. SCOPE INDIA provides courses for Software Programming in Python (Data Science | Artificial Intelligence | Machine Learning | Deep Learning, Data Analytics), Java, PHP, .Net, Software Testing Manual and Automation, Cloud Computing (AWS | Azure), Server Administration (MCSE | RHCE), Networking (CCNA), Mobile App Development in Flutter, and Digital Marketing. Training with 100% Trusted Job Based Internship Model. SCOPE INDIA has a Strong Placement Cell that provides jobs to thousands of students every year. We assure you, you won't regret it after training from SCOPE INDIA!</p><br />
        <p>
            This is how SCOPE INDIA can support both newbies and experienced in the industry to upgrade their skills.
        </p>
    </div>
</body>
    </html>